#checkout-section {
  display: flex;
}
.order-address-container {
  width: 764px;
  background: white;
}
.order-address-container > form {
  width: 80%;
  margin: 68px auto;
}
/* telephone input box */
#order-telephone {
  width: 570px;
  height: 47px;
  border: 1px solid var(--gray);
  padding-left: 12px;
  font-family: var(--casual-font);
  font-size: var(--fs-16);
  letter-spacing: 0.5px;
  margin: 10px 0 0 0;
}

#order-telephone:focus {
  outline: 2px solid var(--light-violet);
}
.order-btn-container {
  left: calc(50% - 178px);
  margin: 40px auto;
  top: 70px;
  width: 178px;
  height: 68px;
}
.order-btn-container > button {
  text-transform: lowercase;
  font-family: var(--body-font);
  font-weight: var(--fw-regular);
  color: var(--white);
  background: var(--light-violet);
  border: 1px solid var(--light-violet);
  font-size: var(--fs-16);
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 1px;
  height: 100%;
  width: 100%;
}

.order-btn-container > button:hover {
  background: RGB(16, 89, 137);
  text-transform: capitalize;
}
.order-summary-container {
  position: relative;
  background: var(--cart-bg-color);
  width: 583px;
  height: 100vh;
  border-left: 2px solid var(--gray);
}

.order-summary-container > #order-summary-heading {
  position: relative;
  left: 30%;
}
.order-products-container {
  position: relative;
  left: 44px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 51px 0;
}
.mini-product {
  display: flex;
}
.mini-product > img {
  height: 62px;
  width: 53px;
  object-fit: cover;
}
.mini-product-details > p {
  height: 30px;
  position: relative;
  left: 20px;
}

.order-calculations {
  position: relative;
  left: 44px;
}

.order-calculations > .sub-total {
  font-family: var(--casual-font);
  font-size: 14px;
  color: var(--black-charcoal);
  display: flex;
  column-gap: 50%;
  margin-bottom: 30px;
}
.order-calculations > .total {
  font-family: var(--casual-font);
  font-size: 1rem;
  color: var(--black-charcoal);
  display: flex;
  column-gap: 53%;
  margin-bottom: 30px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  #checkout-section {
    flex-direction: column-reverse;
  }
  .order-summary-container {
    height: auto;
  }
  .order-address-container {
    width: 100%;
    background: white;
  }
  .order-address-container > form {
    width: 80%;
    margin: 20px auto;
  }
  /* telephone input box */
  #order-telephone {
    width: 96%;
    margin: 10px 0 0 0;
  }
  .order-summary-container > #order-summary-heading {
    left: 15%;
  }
  .order-products-container {
    left: 34px;
    margin: 31px 0;
  }
  .mini-product {
    display: flex;
  }
  .mini-product > img {
    height: 100px;
    width: 100px;
  }
  .mini-product-details > p {
    height: 30px;
    left: 10px;
  }

  .order-calculations {
    left: 34px;
  }

  .order-calculations > .sub-total {
    display: flex;
    column-gap: 30%;
  }
  .order-calculations > .total {
    column-gap: 33%;
    margin-bottom: 30px;
  }
}
/* tablet styles */
@media screen and (min-width: 768px) and (max-width: 1021px) {
  #checkout-section {
    flex-direction: column-reverse;
  }
  .order-summary-container {
    height: auto;
  }
  .order-address-container {
    width: 100%;
    background: white;
  }
  .order-address-container > form {
    margin: 20px auto;
  }
  #order-telephone {
    width: 96%;
    margin: 10px 0 0 0;
  }
  .order-products-container {
    margin: 27px 0;
  }
  .mini-product > img {
    height: 150px;
    width: 150px;
  }

  .order-calculations > .sub-total {
    column-gap: 60%;
  }
  .order-calculations > .total {
    column-gap: 63%;
  }
}
