.product-details-container {
  position: relative;
  display: flex;
  column-gap: 32px;
}
.product-details-container > .product-image-container {
  width: 469px;
}

.product-details-container > .product-image-container > img {
  width: 100%;
}
.product-details-container > .product-details {
  position: relative;
  top: 38px;
  max-width: 688px;
  display: flex;
  flex-direction: column;
}
.product-details-container > .product-details > .product-name {
  color: #212121;
  font-family: var(--heading-font);
  font-size: var(--fs-24);
  font-weight: 600;
  margin-bottom: 10px;
}
.product-details-container > .product-details > .product-price {
  color: #212121;
  font-family: var(--casual-font);
  font-weight: 400;
  font-size: 1.375rem;
  margin-bottom: 20px;
}
.product-details-container > .product-details > .product-description {
  color: #474747;
  font-family: var(--casual-font);
  font-weight: 400;
  font-size: var(--fs-14);
  line-height: 26px;
  margin-bottom: 20px;
}
.add-to-cart-btn-container {
  height: 52px;
  width: 160px;
}
.add-to-cart-btn-container > button {
  text-transform: capitalize;
  font-family: var(--heading-font);
  font-weight: var(--fw-600);
  color: var(--white);
  background: var(--orange-color);
  border: 1px solid var(--orange-color);
  font-size: var(--fs-16);
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 1px;
  height: 100%;
  width: 100%;
}
.add-to-cart-btn-container > button:hover {
  background: #212121;
  border: 1px solid transparent;
}
/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .product-details-container {
    row-gap: 15px;
    flex-direction: column;
  }
  .product-details-container > .product-image-container {
    width: 269px;
  }
  .product-details-container > .product-details {
    top: 0;
    max-width: 188px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1021px) {
  .product-details-container {
    left: 5%;
  }
  .product-details-container > .product-details {
    max-width: 588px;
  }
}
